/*-------------------------------
  *           Wrappers
  *-------------------------------*/

#sidebar-wrapper {
  z-index: 1000;
  left: 10em;
  width: 0;
  height: 100%;
  margin-left: -10em;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 10em;
}


/*-------------------------------
 *     Sidebar nav styles
 *-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 10em;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Small devices (phones/tablets, 768px and up) (min-width: 768px) */

@media screen and (max-width: 991px) {
  .sidebar-nav li {
    line-height: 40px !important;
  }
}


/* tablets/desktops, 992px and up */

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-nav li {
    line-height: 30px !important;
  }
}


/* large desktops, 1200px and up */

@media screen and (min-width: 1200px) {
  .sidebar-nav li {
    line-height: 20px !important;
  }
}

.sidebar-nav li {
  position: relative;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 0.125em;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}

.sidebar-nav li:nth-child(2):before {
  background-color: #ff5208;
}

.sidebar-nav li:nth-child(3):before {
  background-color: #314190;
}

.sidebar-nav li:nth-child(4):before {
  background-color: #ec1b5a;
}

.O1 li:nth-child(2):before {
  background-color: #ff5208;
}

.O1 li:nth-child(3):before {
  background-color: #ff5208;
}

.O1 li:nth-child(4):before {
  background-color: #ff5208;
}

.O1 li:nth-child(5):before {
  background-color: #ff5208;
}

.O2 li:nth-child(2):before {
  background-color: #314190;
}

.O2 li:nth-child(3):before {
  background-color: #314190;
}

.O2 li:nth-child(4):before {
  background-color: #314190;
}

.O2 li:nth-child(5):before {
  background-color: #314190;
}

.O3 li:nth-child(2):before {
  background-color: #ec1b5a;
}

.O3 li:nth-child(3):before {
  background-color: #ec1b5a;
}

.O3 li:nth-child(4):before {
  background-color: #ec1b5a;
}

.O3 li:nth-child(5):before {
  background-color: #ec1b5a;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 0.75em 1em 0.75em 1.25em;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
  height: 4em;
  font-size: 1em;
  line-height: 0.125em;
}

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #333;
  box-shadow: none;
}