/*-------------------------------
 *           Wrappers
 *-------------------------------*/

#page-content-wrapper {
  width: 100%;
  height: 100%;
  /*padding-top: 4.25em;*/
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -10em;
}


/*-------------------------------
 *       Hamburger-Cross
 *-------------------------------*/

.menu-toggle {
  position: absolute;
  top: .5em;
  left: .6em;
  width: 3.25em;
  height: 3.25em;
  z-index: 999;
  padding: 0.25em;
  border-radius: 0.5em;
}

.menu-toggle:hover {
  background: #ffffff99;
}

.hamburger {
  position: relative;
  top: 0.125em;
  left: 0.125em;
  width: 2.52m;
  height: 2.25em;
  border: none;
  padding: 0em;
  border-radius: 0.25em;
  background: #33333380;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
  background: #333333cc;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100%;
  font-size: 1em;
  color: #fff;
  line-height: 2em;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0.25em;
  right: 0.25em;
  height: 0.25em;
  width: auto;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
  ;
}

.hamburger.is-closed .hamb-top {
  top: 0.75em;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -0.125em;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 0.75em;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  /*top: 0;*/
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
  /*bottom: 0;*/
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -0.125em;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100%;
  font-size: 1em;
  color: #fff;
  line-height: 2em;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}


/*-------------------------------
 *            Content 
 *-------------------------------*/

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0em;
}


/*-------------------------------
 *            GeoAdmin Map 
 *-------------------------------*/

.map {
  width: 100%;
  height: 100%;
  background: #FFFFFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAAAAABzHgM7AAAAAnRSTlMAAHaTzTgAAAARSURBVHgBY3iKBFEAOp/+MgB+UQnYeBZPWAAAAABJRU5ErkJggg==) !important;
}


/*-------------------------------
 *            Map Control
 *-------------------------------*/

.ol-zoom {
  /*top: 2.2em !important;*/
  right: .5em !important;
  left: auto !important;
}


/*-------------------------------
 *            Map PopOver
 *-------------------------------*/

.popover {
  min-width: 40em;
}